# ==========================
# Google Gemini API Key
# ==========================
GOOGLE_API_KEY=your-api-key

# ==========================
# Tavily Search API Key
# ==========================
TAVILY_API_KEY=your-api-key